/* add css styles here (optional) */

.FloatingDropdownContainer {
  position: fixed;
  z-index: 50000;
  width: 50vh;
  height: 50vh;
  padding: 0;
  left: 10px;
  bottom: 200px;
}

.FloatingDropdownContainerMiniSubmenu {
  opacity: 1;
  background-color: rgb(14, 160, 255);
  border: 1px solid #0ea0ff;
  border-radius: 4px;
  padding: 9px;
  width: 90px;
  transition: opacity 0.5s;
  color: white;
  text-align: center;
  cursor: pointer;
}

.FloatingDropdownSideBar {
  position: relative;
}

.FloatingDropdownContainerMiniSubmenuListGroup {
  border: 1px solid #0ea0ff;
  border-radius: 4px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  height: 60vh;
  width: 45vh;
  overflow-y: hidden;
  flex-direction: column;
  position: absolute;
}

.FloatingDropdownSubmenuTopBar {
  background-color: #0ea0ff;
  color: white;
  padding: 13px;
}

.FloatingDropdownSubmenuTopBar span {
  float: right;
  cursor: pointer;
}

.FloatingDropdownSubmenuContent {
  height: 100%;
  overflow-y: auto;
}

@keyframes FloatingDropdownFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes FloatingDropdownFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*@keyframes :global(fadeOut) {*/
/*  0% {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*  }*/
/*  100% {*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*  }*/
/*}*/

/*@keyframes :global(fadeIn) {*/
/*  0% {*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*  }*/
/*}*/

:global(.Floating-Dropdown-Fade-In) {
  animation: FloatingDropdownFadeIn 0.5s ease;
  /*animation-duration: 0.5s;*/
  animation-iteration-count: 1;
  /*animation-timing-function: ease;*/
  animation-fill-mode: forwards;
}

:global(.Floating-Dropdown-Fade-Out) {
  animation: FloatingDropdownFadeOut 0.5s ease;
  /*animation-duration: 0.5s;*/
  animation-iteration-count: 1;
  /*animation-timing-function: ease;*/
  animation-fill-mode: forwards;
}

/*.Floating-Dropdown-Fade-In {*/
/*  animation-name: fadeIn;*/
/*  animation-duration: 0.5s;*/
/*  animation-iteration-count: 1;*/
/*  animation-timing-function: ease;*/
/*  animation-fill-mode: forwards;*/
/*}*/

/*.Floating-Dropdown-Fade-Out {*/
/*  animation-name: fadeOut;*/
/*  animation-duration: 0.5s;*/
/*  animation-iteration-count: 1;*/
/*  animation-timing-function: ease;*/
/*  animation-fill-mode: forwards;*/
/*}*/
